{% load static %}
{% get_static_prefix as STATIC_URL %}
{% load cms_tags sekizai_tags menu_tags %}
<html>
  <head>
  	<meta charset="utf-8"/>
	<title>{{ title }}</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic'>
	<link rel="stylesheet" href="{{ STATIC_URL }}public/styles/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}public/styles/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}public/styles/flexslider.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}public/styles/main.css">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script type="text/javascript" src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<link rel="stylesheet" type="text/css" href="./public/styles/ie.css" />
	<![endif]-->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}public/scripts/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="{{ STATIC_URL }}public/scripts/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}public/scripts/jquery.flexslider-min.js"></script>
	<script src="{{ STATIC_URL }}public/scripts/main.js"></script>

      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}

<div class="l-wrapper{% block main_class %}{% endblock main_class %}">
	<header class="b-header">
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="/">Omicron</a>
					<a href="#" data-target=".nav-collapse" data-toggle="collapse" class="btn-menu collapsed"><span class="link">Menu <i class="icon-chevron"></i></span></a>
					<div class="nav-collapse collapse">
						<ul class="nav u-mainmenu">
							{% show_menu_below_id "main" 0 100 100 100 %}
						</ul>
					</div><!-- / nav-collapse -->
					<div class="pull-right">

						<ul class="nav u-langmenu">
							{% language_chooser %}
						</ul>
					</div>
				</div><!-- / navbar-inner -->
			</div><!-- / navbar -->
		</div>
	</header><!-- / b-header -->
	<section class="b-pagetitle">
		{% block image_cover %}{% endblock image_cover %}
		<div class="container">
			<div class="content">
				<div class="wrap">
					  {% placeholder pagetitle %}
				</div>
			</div><!-- / b-content -->
		</div>
	</section><!-- / b-pagetitle -->

{% block slider %}{% endblock slider %}
{% block section_content %}{% endblock section_content %}

	<div class="l-footerpush"></div>
</div><!--/ .l-wrapper -->


      {% render_block "js" %}

  <footer class="b-footer">
	<div class="container">
		<div class="pull-left">
			<ul class="nav u-footermenu">
				{% show_menu_below_id "footer" 0 100 100 100 "menu/footer_menu.html" %}
			</ul>
		</div>
		<div class="pull-right">
			<span class="copyrights">© 2013 Omicron, Call Me Maybe:</span>
			<span class="phone">+38012 987 65 43</span>
		</div>
	</div>
</footer><!-- / b-footer -->

</body>
</html>