{% extends "base.html" %}

{% load cms_tags sekizai_tags %}

{% block image_cover %}
<img src="{{ STATIC_URL }}images/cover-downloads.jpg" alt="" class="cover" />
{% endblock image_cover %}

	{% block section_content %}
	<section class="b-content">
		<div class="container">

			<div class="row-fluid">
				<div class="span4 menu">
					<div class="wrap">
						{% placeholder text_page_left %}
					</div>
				</div><!-- / menu -->
				<div class="span8 content">
					<div class="wrap">
						{% placeholder text_page_content %}
					</div>
				</div><!-- / content -->
			</div>

		</div>
	</section><!-- / b-content -->
	{% endblock section_content %}
